
<!DOCTYPE HTML>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="resources/CSS/index.css">
		<link rel="stylesheet" type="text/css" href="resources/CSS/counter.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="resources/script/index.js"></script>		
	</head>

	<body>		
		<div class="jumbotron text-center">
			<h1 class="text-center">Mental Calculation</h1>
		</div>
	
		<div class="container-fluid" ng-app="clcApp" ng-controller="drlCtlr" ng-init="inpt1=2;aVar=true;playgame=false;timeUp=false;go=false">
			<div>				
				<button ng-click="playgame==false?playgame=true:playgame=false;callSwitch();"  id="mbtn" class="btn btn-sm btn-primary">Tutorial</button> <br/> <br/>				
			</div>
			
			<div class="row">
			    <div class="col-md-6">
				    <div class="row"> 
						<div class="col-md-6" id="clcOpt">
							<div class="row">								
								<div class="col-6 col-md-6">
									<button type="button" class="btn" ng-click="go=true;strtCntr();" ng-disabled="(drlopt=='2x2'||drlopt=='1x2'||drlopt=='1x1'? false:true)" disabled="disabled" >Start</span></button>				      					
								</div>
								<div class="col-6 col-md-6" >
									<div id="counter" >
										<svg  class="progress-circle" width="100px" height="100px" xmlns="http://www.w3.org/2000/svg">
											<circle class="progress-circle-back" cx="35" cy="27" r="24"></circle>
											<circle id="prgrscrcl" class="progress-circle-prog" cx="35" cy="27" r="24"></circle>
										</svg>
									</div>
									<div id="scrbrd" >
										<button type="button" class="btn " style="background-color: #4267b2;">
											<span style="color: #e4ff00;font-style: bold;font-weight: 52px;font-weight: 600;"> Time Up! </span>
											<span class="badge badge-light"> Your Score:{{score}}</span>
										</button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-4 col-md-4">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" ng-click="aVar=true;sVar=false;mVar=false" checked>
										<label class="form-check-label" for="inlineRadio1" style="font-size: small;">Add</label>
									</div>
								</div>
								<div class="col-4 col-md-4">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" ng-click="sVar=true;aVar=false;mVar=false">
										<label class="form-check-label" for="inlineRadio2"style="font-size: small;">Substract</label>
									</div>
								</div>
								<div class="col-4 col-md-4">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" ng-click="mVar=true;sVar=false;aVar=false">
										<label class="form-check-label" for="inlineRadio3"style="font-size: small;">Multiply</label>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
								<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input" id="optdrl" name="optdrl" ng-model="drlopt" value="1x1" checked>
										<label class="custom-control-label" for="optdrl" style="font-size: small;">1x1 &nbsp; (0 to 9)x(0 to 9	)</label>
									</div>   
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="custom-control custom-radio">
										 <input type="radio" class="custom-control-input" id="optdrl1" name="optdrl1" value="1x2" ng-model="drlopt">
										<label class="custom-control-label" for="optdrl1" style="font-size: small;">1x2 &nbsp; (0 to 9)x(10 to 99)</label>
									</div>   
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									 <div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input" id="optdrl2" name="optdrl2" value="2x2" ng-model="drlopt" >
										<label class="custom-control-label" for="optdrl2" style="font-size: small;">2x2 &nbsp; (10 to 99)x(10 to 99)</label>
									</div> 
								</div>
							</div>
						</div>
						<!-- Game ZOne -->
						<div class="col-md-6" id="clcgame">
						
							<div class="gamecard card-body text-center ">
									
							   <div class="col-xl-12 row">
									<div class="col-xl-5"> <span style="color:white">{{num1}} <span ng-show="mVar">*</span><span ng-show="aVar">+</span> <span ng-show="sVar">-</span>    {{num2}} =</span> </div>
									<div class="col-xl-7"> 
									  <input  class="form-control" ng-model="ans" type="number" ng-keyup="(ans ==num1*num2&&mVar==true ? nxtQstn():(ans ==num1+num2&&aVar==true? nxtQstn():(ans ==num1-num2&&sVar==true? nxtQstn():'')))" ng-disabled="(drlopt=='1x1' && go==true && !timeUp ? false:true)"> 
									  </input> 
									</div>
								</div> </br>
								<div class="col-xl-12 row">
									<div class="col-xl-5 ">
										<span style="color:white">{{num3}} <span ng-show="mVar">*</span><span ng-show="aVar">+</span> <span ng-show="sVar">-</span> {{num4}} = </span> 
									</div>
									<div class="col-xl-7">
										<input class="form-control" ng-model="ans1" type="number" ng-keyup="(ans1 ==num3*num4 && mVar==true ? nxtQstn1():(ans1 ==num3+num4&&aVar==true? nxtQstn1():(ans1 ==num3-num4&&sVar==true? nxtQstn1():'')))" ng-disabled="(drlopt=='1x2'&& go==true && !timeUp ? false:true)"> 
										</input> 
									</div>
								</div> </br>
								<div class="col-xl-12 row ">
									<div class="col-xl-5 ">
									  <span style="color:white">{{num5}} <span ng-show="mVar">*</span><span ng-show="aVar">+</span> <span ng-show="sVar">-</span> {{num6}} = </span>
									</div>
									<div class="col-xl-7">
									<input class="form-control" ng-model="ans2" type="number" ng-keyup="(ans2 ==num5*num6&&mVar==true ? nxtQstn2():(ans2 ==num5+num6&&aVar==true? nxtQstn2():(ans2 ==num5-num6&&sVar==true? nxtQstn2():'')))" ng-disabled="(drlopt=='2x2'&& go==true && !timeUp ? false:true)"> 
									  </input>
									</div>
								</div>  
							
							</div> 
							<div class="col-sm-4 col-xl-4">
								<b><p id="cntr"></p></b>
							</div> 
						</div>
				     	<!-- Game Zone End -->
					</div>
				</div>
				<div class="col-md-6" id="artcl" >
				   <iframe src="blog.htm" style="width:100%; height:700%" frameborder="0" 	scrolling="auto"></iframe>
				</div>
			 </div>
		</div>
	</body>		    
</html>